.container {
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
  }
  
/* Styling for all buttons */
button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    overflow: hidden; /* Hide overflow text */
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  /* Hover effect for all buttons */
  button:hover {
    background-color: #45a049; /* Darker green background on hover */
  }
  
  /* Active state for all buttons */
  button:active {
    background-color: #3e8e41; /* Darker green background on click */
  }
  
  /* Change text color to black when button is active (being clicked) */
  button:active {
    color: black;
  }
  

  /* Styling for profile buttons */
  